.main {
  background: var(--background);
  color: var(--primary);
  display: grid;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  place-items: center;
  position: relative;
  width: 100%;
}
